<h3 class="mb-4 text-primary text-center">Courses Cards View</h3>

<div class="row mb-4">
  <div class="col-md-12 d-flex justify-content-between">
    <div class="col-md-10">
      <form class="d-flex" [formGroup]="formGroup" (ngSubmit)="onSearch()">
        <input type="text"
               class="form-control mr-2"
               placeholder="Search by title..."
               formControlName="search">

        <button class="btn btn-outline-primary">Search</button>
        <button class="btn btn-outline-dark ml-2" (click)="onClearSearch()">Clear</button>
      </form>
    </div>

    <div *ngIf="isAdmin" class="col-md-2">
      <a class="btn btn-outline-info btn-block" routerLink="/courses/add">Add new</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h5 *ngIf="favouriteCourses">You mark {{ favouriteCourses }} as your favorite courses.</h5>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let course of courses">
    <app-course-card-item [course]="course"
                         (courseSelected)="onCourseSelected($event)"
                         (courseDeleted)="onDelete($event)"></app-course-card-item>
  </div>
</div>
